.container {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  align-items: center;
}

.menu {
  display: flex;
  column-gap: 80px;
}

.input_panel {
  display: flex;
  column-gap: 12px;
}

.input {
  width: 377px;
}

.queue {
  display: flex;
  column-gap: 30px;
}