.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 120px;
}

.form {
  display: flex;
  column-gap: 12px;
  width: 567px;
}

.circles {
  display: flex;
  column-gap: 16px;
}
